.app {
    width: 100%;
    height: auto;
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;

    .app_text {
        align-self: stretch;
        min-height: 471px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
         gap: 10px;

        h2 {
            font-size: 6vw;
            font-weight: 600;
        }

        h4 {
            color: #4CAF50;
            font-size: 4vw;
            font-weight: 400;
        }

        p {
            font-size: 16px;
            font-weight: 500;

            b {
                font-size: 24px;
                font-weight: 400;
            }
        }

        .btn {
            background: rgba(128, 128, 128, 0.334);
            color: black;
            border-radius: 0;

            &:hover {
                background: rgba(128, 128, 128, 0.686);
            }
        }
    }

    .app_img {
       
        min-height: 471px;
    }

    @media screen and (max-width:767px) {
        flex-direction: column;

        .app_text {
            h2 {
                font-size: 8vw;
            }

            h4 {
                color: #4CAF50;
                font-size: 6vw;
            }

        }

        .app_img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media screen and (max-width:425px) {
        .app_img {
            min-height: max-content;

            >img {
                width: 100%;
                height: 100%;
            }
        }
    }
}