.clarity {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    background: rgb(225, 225, 225);
    .clarity_text {

        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        h2 {
            width: 100%;
            font-size: clamp(3.3rem, 4vw, 2.3rem);
        }

        h4 {
            width: 100%;
            color: red;
            font-size: clamp(2.8rem,3vw,1.8rem);
            text-wrap: nowrap;
        }

        p {
            width: 100%;
        }
    }

    @media screen and (max-width:808px) {
        flex-direction: column;

        .clarity_img {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .clarity_text{
            h4{font-size: 30px;}
        }
    }
}