.footer {
    width: 100%;
    padding: 50px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: #000 !important;

    >p {
        color: black !important;

        >a {
            color: #000;
        }
    }

    .social {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 5px;


        >a {
            color: #000;
            width: 35px;
            height: 38px !important;


            svg {
                width: 30px;
                height: 30px;
            }

            &:hover {
                svg {
                    fill: rgb(129, 129, 129);
                }
            }
        }
    }
}