.pricing {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    font-family: "Poppins", sans-serif;

    h2 {

        font-size: clamp(4.3rem, 4vh, 3.5rem);
        font-weight: 400;
    }

    .pricing_block {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 150px;
        gap: 20px;
        flex-wrap: wrap;

        .box {

            box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.468);


            min-width: 270px;
            flex-grow: .5;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                margin: 0;
                width: 100%;
                padding: 20px;
                text-align: center;
                color: white;
                font-weight: 300;
                font-size: clamp(2.5rem, 4vh, 2rem);
            }

            p {
                border-bottom: 1px groove;
                margin: 0;
                width: 100%;
                padding: 15px;
                text-align: center;
            }

            .count {
                padding: 25px;
            }

            &:hover {
                box-shadow: 0 0 2px 2px grey;
            }

            @media screen and (max-width:375px) {
                min-width: 206px;
            }
        }

        .basic>h2 {
            background: #616161;
        }

        .premium>h2 {
            background: #f44336;
        }

        @media screen and (max-width:768px) {
            padding: 50px;
        }
    }

    .btnn {
background: #f1f1f1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .btn {
            fill: white;
            background: #000;
            border: #000;
            padding: 10px;

            &:hover {
                background: rgba(128, 128, 128, 0.519);
                color: #000;

                svg {
                    fill: black;
                }
            }
        }

    }
}