.slider {
    width: 100%;
    height: 127vh;

    .slide {
        width: 100%;
        height: 100%;
        position: relative;

        .carousel-inner {
            width: 100%;
            height: 100%;
        
            .carousel-item {
                width: 100%;
                height: 100%;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }

                .carousel-caption {
                    width: 30%;
                    height: 207px;
                    position: absolute;
                    left: 50px;
                    top: calc(100% / 2);
                    background: rgba(0, 0, 0, 0.625) !important;
                    padding: 20px;

                    .btn {
                        width: 100%;

                        >svg {
                            fill: #fefefe;
                        }

                        &:hover {
                            background: white;
                            color: black;

                            >svg {
                                fill: black;
                            }
                        }
                    }

                    &:hover {
                        background: black !important;
                    }

                    .modal {

                        padding: 50px;

                        .modal-dialog {
                            position: relative;
                            max-width: 100% !important;
                            height: 100vh !important;


                            .modal-content {

                                position: absolute;
                                top: 10px;
                                left: 0 !important;
                                right: 0 !important;

                                .modal-header {

                                    display: flex !important;
                                    align-items: flex-start;
                                    justify-content: space-between;
                                    flex-direction: column;
                                    gap: 10px;
                                    padding-bottom: 0;

                                    h2 {
                                        width: 100%;
                                        display: flex !important;
                                        align-items: center;
                                        justify-content: space-between;

                                    }

                                    p {
                                        width: 100% !important;
                                        text-align: justify;
                                    }
                                }

                                .modal-body {
                                    padding-top: 0;

                                    input {
                                        width: 100%;
                                        padding: 10px 8px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        .carousel-control-next {
       
            width: max-content;
            height: max-content;
            position: absolute;
            right: 50px;
            top: calc(100% / 1.6);
            padding: 5px 20px;
            color: white !important;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 18px;
            background: black !important;
            opacity: 1;

            &:hover {
                color: black !important;
                background: white !important;
            }

        }

    }

    @media screen and (max-width:767px) {

        height: 84vh !important;

        .slide {
          
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .carousel-inner {
             
                padding-top: 22px;

                .carousel-item {
                    height: 100% !important;
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                    flex-direction: column-reverse !important;

                    img {
                        width: 100% !important;
                        height: 100% !important;
                    }

                    .carousel-caption {
                        display: block !important;
                        position: static !important;
                        width: 100%;
                        height: max-content;
                        padding: 0;

                        h5,
                        p,
                        hr {
                            display: none;
                            width: 100%;
                            height: max-content;
                        }

                    }
                }
            }

            .carousel-control-next {
                width: 100% !important;
                position: static !important;
            }
        }
    }

    @media screen and (max-width:530px) {
        min-height: 409.156px;

        .carousel-inner {
            padding-top: 0 !important;
        }
    }


}